/Model_MusicMapsV1.0.zip
/Model_MusicMapsV1.1.zip
/Model_MusicMapsV2.0.zip
/Model_MusicMapsV2.1.zip
/Musics
/main.aux
/main.fdb_latexmk
/main.fls
/main.log
/main.out
/main.synctex.gz
/musicPackages.aux